NODE_ENV=test
APP_ENV=test
API_HOST=0.0.0.0
API_PORT=3001
APP_DISPLAY_NAME=Event App API Test
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/event_app?schema=event_app_test
PUBLIC_INVITE_BASE_URL=http://localhost:3000/api/v1/invite-links
